html {
    /* webkit */
    -webkit-filter: grayscale(100%);
    /*firefox*/
    -moz-filter: grayscale(100%);
    /*ie9*/
    -ms-filter: grayscale(100%);
    /*opera*/
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    /*ie9- */
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    filter: gray;
}